---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Parker Mutsuz</title>
  </head>
  <body class="font-sans">
    <h1>Site scaffold working</h1>
  </body>
</html>
